:root {
    --background: white;
    --nav-background: black;    
    --nav-text:white;

    --emphasis-text: #E60D0D;
    --border-img: black;
    --h1-main: black;
    --p-presentation: black;

    --describe-section:black;
    
    --background-skills: rgb(227, 227, 227);
    

    --voltar-topo-fundo:black;
    --voltar-topo-seta:white;

    --scrollbar:rgb(225, 225, 225);
    --scrollbar-thumb:#00BF63;

    --background-habilidades: rgb(227,227,227);
}
    
    
.dark:root{
    --background: #232323;

    --emphasis-text: #00BF63;
    --border-img: white;
    --h1-main: white;
    --p-presentation: white;

    --describe-section:rgb(190, 190, 190);

    --background-skills: rgb(46, 46, 46);

    --voltar-topo-fundo:white;
    --voltar-topo-seta:black;

    --scrollbar: black;
    --scrollbar-thumb:#c80b0b;

    --background-habilidades: rgb(46, 46, 46);

    input#changeMode {
        background: url('../IMG/ICONS/light.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}   

.emphasis-text{
    color: var(--emphasis-text);
}