@charset "UTF-8";
/* CONFIGS GLOBAIS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

.texto-destaque {
    color: var(--light-texto-destaque);
}

html {
    height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

/* VARIÁVEIS CSS */

:root {

    /* LIGHT MODE */
    
    --light-background: white;
    
    --light-texto-destaque: #E60D0D;
    --light-borda-img: black;
    --light-h1-main: black;
    --light-p-apresentacao: black;
    
    
    --light-borda-linguagens: black;
    --light-h2-linguagens: black;
    
    --light-nome-lingua: white;
    --light-nome-projeto: white;
    
    /*----------------------------------------*/
    
    /* DARK MODE */
    
    --dark-background: #232323;
    
    --dark-texto-destaque: #00BF63;
    --dark-borda-img: white;
    --dark-h1-main: white;
    --dark-p-apresentacao: white;
    
    
    --dark-borda-linguagens: #D9D9D9;
    --dark-h2-linguagens: #A6A6A6;
    
    --dark-nome-lingua: #A6A6A6;
    --dark-nome-projeto: #A6A6A6;        
    }

/* RESPONSIVO */

/* HEADER */

nav {
    background-color: black;
    display: flex;
    padding: 1px;
}

    h2#h2-nav {
        margin-left: 10px;
        color: white;
        font-family: 'arial';
    }

/*---DISPLAY NONE (Mobile Version)---*/

    ul{
    display: none;
    position:absolute;
    right: 10px;
    align-items: center ;
    list-style: none;
    display: flex;
    }

        a{
            display: none;
            color: white;
            text-decoration: none;    
        }

        a:hover{
            color: lightgrey;
        }

/*---HEADER CONTEUDO---*/

#h1-main {
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

#minha-img {
    margin: auto;
    margin-top: 30px;
    border: 4px solid var(--light-borda-img);
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

#p-main {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

/* MAIN */

/*---SECTION SOBRE MIM---*/

#sobre-mim {
    background-color: black;
    max-width: 80%;
    height: 250px;
    margin: auto; 
    margin-top: 50px;   
    color: white;
    text-align: center;
    padding: 5px;
}

#p-sobre-mim {
    margin-top: 30px;
}

#linguagens-mim {
    border: 4px solid var(--light-borda-linguagens);
    max-width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    color: var(--light-h2-linguagens);
    text-align: center;
    padding: 5px;
}

/*---SECTION PROJETOS---*/

#h1-title-projetos {
    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.flex > div {
    flex:1 1 200px;
    margin: auto;
    margin: 10px;
}

img {
    margin: auto;
}

.titulo-legenda {
    text-align: center;
    color: var(--light-nome-projeto);
    background-color: black;
}

.descricao-legenda {
    color: #D9D9D9;
}

/* BOTÃO TOP */

#btnTop {
    position: fixed;
    bottom: 65px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    bottom: 0px;
}


/* MEDIA QUERYS */

/*---DESKTOP---*/

@media screen and (min-width:1025px) and (max-width:1281px){

/* HEADER */

    #h1-main{
        font-size: 50px;
        width: 400px;
        position: absolute;
        top: 100px;
        left: 100px;
    }

    #minha-img{
        width: 300px;
        height: 300px;
        position: absolute;
        top: 120px;
        right: 150px;
    }

    #p-main{
        font-size: 20px;
        width: 295px;
        position: absolute;
        top: 280px;
        left: 150px;
    }

    nav {
        align-items: center;
        padding: 5px;
    }

    a {
        display: flex;
    }

/* SECTION'S */

    #Sobre {
        display: inline-block;
    }

    #sobre-mim {
        padding-left: 10px;
        padding-right: 10px;
        width: 300px;
        height: 400px;
        position: absolute;
        top: 550px;
        left: 240px;
    }
    #p-sobre-mim {
        margin-top: 80px;
    }

    #linguagens-mim {
        width: 450px;
        height: 400px;
        position: absolute;
        top: 550px;
        right: 240px;
    }

    #h1-title-projetos {
        margin-top: 1000px;
    }

/* BOTÃO TOP */

    #btnTop {
        position: fixed;
        bottom: 65px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .arrow {
        border: solid white;
        border-width: 0 7px 7px 0;
        padding: 5px;
        display: inline-block;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}

/*---TELAS GRANDES---*/

@media screen and (min-width:1400px){    

/* HEADER */

    nav {
        margin: auto;
        text-align: center;
        align-items: center ;
        background-color: black;
        display: block;
        padding: 1px;
    }

    h2#h2-nav {
        color: white;
        font-family: 'arial';
        font-size: 50px;
    }

    nav > ul {
        display: none;
    }

    #h1-main{
        font-size: 60px;
    }

    #minha-img {
        width: 350px;
        height: 350px;
    }

    #p-main {
        font-size: 40px;
        width: 740px;
    }

/* SECTION'S */

    #h2-sobre-mim {
        font-size: 40px;
    }

    #p-sobre-mim {
        margin-top: 30px;
        font-size: 25px;
    }
    
    #h2-linguagens {
        font-size: 40px;
    }

/* BOTÃO TOP */

    #btnTop {
        position: fixed;
        bottom: 65px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .arrow {
        border: solid white;
        border-width: 0 7px 7px 0;
        padding: 5px;
        display: inline-block;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}
