@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
  }

/* VARIÁVEIS CSS */

:root {

    /* LIGHT MODE */
    
    --light-background: white;
    
    --light-texto-destaque: #E60D0D;
    --light-borda-img: black;
    --light-h1-main: black;
    --light-p-apresentacao: black;
    
    
    --light-borda-linguagens: black;
    --light-h2-linguagens: black;
    
    --light-nome-lingua: white;
    --light-nome-projeto: white;
    --light-descricao-projeto: black;
    
    /*----------------------------------------*/
    
    /* DARK MODE */
    
    --dark-background: #232323;
    
    --dark-texto-destaque: #00BF63;
    --dark-borda-img: white;
    --dark-h1-main: white;
    --dark-p-apresentacao: white;
    
    
    --dark-borda-linguagens: #D9D9D9;
    --dark-h2-linguagens: #A6A6A6;
    
    --dark-nome-lingua: #A6A6A6;
    --dark-nome-projeto: #A6A6A6;
    --dark-descricao-projeto: #D9D9D9;
        
    }


/* HEADER */

/*---MENU/NAV---*/

nav {
    background-color: black;
    display: flex;
    padding: 5px;
}

    h2#h2-nav {
        margin-left: 10px;
        color: white;
        font-family: 'arial';
    }

    ul {
    position:absolute;
    right: 10px;
    align-items: center ;
    list-style: none;
    display: flex;
    }

        a{
            color: white;
            text-decoration: none;    
        }

        a:hover{
            color: lightgrey;
        }


/*---CONTEUDO---*/

div#header-main{
    width: 100%;
    height: 100%;
    display: flex;
}

    h1#div-h1-main{
        color: var(--light-h1-main);
        text-align: center;
        width: 540px;
        position: absolute;
        top: 120px;
        left: 60px;
        font-weight: bolder;  
        font-size: 50px;      
    }

    p#div-p-main {
        color: var(--light-p-apresentacao);
        text-align: center;
        width: 476px;
        position: absolute;
        top: 265px;
        left: 93.5px;
        font-size: 24px;
    }

    .texto-destaque {
        color: var(--light-texto-destaque);
    }

    div#minha-img {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 120px;
        right: 250px;
        border: 6px solid var(--light-borda-img);
        border-radius: 100%;
    }

/* MAIN */

main {
    position: static;
}

    p#p-main-quebralinha{
        color: var(--light-background);
        margin-top: 600px;
    }

/* --SEÇÃO SOBRE MIM-- */

section#Sobre {
    display: flex;
}

    div#Sobre-Mim{
    
        background-color: black;
        width: 400px;
        height: 550px;
        position: absolute;
        left: 110px;
        color: white;
    }

        div#Sobre-Mim > h2 {
            position: absolute;
            text-align: center;
            font-size: 40px;
            margin-top: 20px;
            width: 100%;
        }

        div#Sobre-Mim > p {
            position: absolute;
            top: 150px;
            margin-left: 17px;
            text-align: center;
            font-size: 25px;
            width: 90%
        }

    div#Linguagens{
        display: flex;
        border: 4px solid var(--light-borda-linguagens);
        width: 570px;
        height: 550px;
        position: absolute;
        right: 110px;
    }

        div#Linguagens > h2 {
            width: 100%;
            position: absolute;
            text-align: center;
            font-size: 40px;
            margin-top: 20px;
            text-align: center;
            color: var(--light-h2-linguagens);
        }

/* --SEÇÃO SOBRE MIM-- */

p#p-main-quebralinha2{
    color: var(--light-background);
    margin-top: 800px;
}

section#Projetos1{
    margin: auto;
    display: flex;
    width: 1000px;
}

    div.projeto{
        width: 180px;
        height: 180px;
        border: 4px solid black;
        margin: auto;
        text-align: center;
    }

        div.projeto > h3{
            position: absolute;
            margin-top: -30px;
            color: var(--light-nome-lingua);
            background-color: black;
            width: 80px;

        }

        div.projeto > h4{
            margin-top:185px ;
            color: var(--light-nome-projeto);
            background-color: black;
        }

        div.projeto > p{
            color: var(--light-descricao-projeto);
        }

            .projetos-nome{
                margin-left: 50px;
                border: 4px solid black;
                border-radius: 20%;
            }


section#Projetos2{
    margin: auto;
    display: flex;
    width: 1000px;
    margin-top: 200px;

}

/* BOTÃO TOP */

#btnTop {
    position: fixed;
    bottom: 65px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}