section#presentation{
    width: 100vw;
    max-width: 100%;
    height: 600px;
}

div#my-image{
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background: url('../../IMG/OTHERS/favicon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid var(--border-img);
    border-radius: 100%;
}

div#about-me{
    margin-top: 30px;
    width: 100vw;
    max-width: 100%;
    text-align: center;
}

div#about-me > h1{
    margin: auto;
    width: 90%;
    color: var(--h1-main);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
}

div#about-me > p{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    color: var(--p-presentation);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

h1.describe-section{
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--describe-section-background);
    color: var(--describe-section-text);
    width: 85%;
}

section#skills {
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    background-color: var(--background-skills);
    flex-wrap: wrap;
    border-bottom: 15px solid rgb(0, 119, 255);
    padding: 5px;
}

img.skills-img{
    width: 50px;
    height: 50px;
    margin: 8px;
}

img.skills-img:hover{
    border: 2px dashed black;
    cursor: pointer;
}

h1#my-main-projects{
    margin-top: 80px;
}

div.main-project{
    margin: auto;
    margin-top: 40px;
    width: 300px;   
    height: 300px;
    box-shadow: 0px 0px 61px 0.1px rgba(0,0,0,0.37);

}

div#curso-online{
    background: url('../../IMG/PROJECTS/main-cursosOnline.png');
}

div#mario-fit{
    background: url('../../IMG/PROJECTS/main-marioFit.png');
}

div#post-it{
    background: url('../../IMG/PROJECTS/main-postIts.png');
}


h1#my-others-projects{
    margin-top: 80px;
}

div.other-project{
    margin: auto;
    margin-top: 40px;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


div#organizador-pasta{
    background: url('../../IMG/PROJECTS/organizador-de-pasta.png');
}

div#utility-pack{
    background: url('../../IMG/PROJECTS/Utility\ Pack.png');
}

div#joguinho{
    background: url('../../IMG/PROJECTS/Joguinho.png');
}

div#notas-cinema{
    background: url('../../IMG/PROJECTS/Notas-Cinema.png');
}

div#jornal{
    background: url('../../IMG/PROJECTS/jornal.png');
}

div#player{
    background: url('../../IMG/PROJECTS/player-mp3.png');
}

div#games-utilities{
    background: url('../../IMG/PROJECTS/games-utilities.png');
}

div#hamburgueria{
    background: url('../../IMG/PROJECTS/hamburgueria.png');
}

div#jogo-csharp{
    background:url('../../IMG/PROJECTS/jogo-csharp.png');
}


#btnTop {
    position: fixed;
    bottom: 65px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: var(--voltar-topo-fundo);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    border: solid var(--voltar-topo-seta);
    border-width: 0 2px 2px 0;
    padding: 3px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}