main{
    display: grid;
    place-items: center;
}

div.projeto{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 270px 40px;
    grid-column-gap: 100px;
    grid-row-gap: 60px;
}


div#descricao-conteudo{
    height: 370px;
}

div#botao-conteudo{
    margin: 0;
}

p#aviso-download{
    display: none;
}